<!DOCTYPE html>
<html>
<head>
    <title>8-bit Gallery</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="/this.gui/dist/this.gui.css">

    <style>
        .gallery {
            display: grid;
            grid-template-columns: repeat(auto-fill, minmax(150px, 1fr)); /* More compact grid items */
            gap: 8px; /* Reduced gap */
        }
        .gallery img {
            width: 100%;
            height: auto;
            border-radius: 5px;
            cursor: pointer; /* Indicates the image is clickable */
        }
        body[data-theme='dark'] {
            background-color: #333;
            color: white;
        }
        /* Style for the image preview modal */
        .image-preview-modal {
            display: none;
            position: fixed;
            z-index: 1050;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            background: rgba(0, 0, 0, 0.6);
            align-items: center;
            justify-content: center;
        }
        .image-preview-content {
            background: white;
            padding: 20px;
            border-radius: 8px;
        }
        .image-preview-content img {
            max-width: 80vw;
            max-height: 80vh;
        }

        .tab-content {
            margin-top: 20px;
        }
    </style>
</head>
<body>

    <div class="container">
        <a href="/" class="btn btn-primary mt-3 mb-4">Back to Home</a>
        <h1 class="section-title">8-bit Gallery</h1>
        <div class="search-bar mt-3">
            <input type="text" id="searchInput" class="form-control" onkeyup="searchImages()" placeholder="Search for images...">
        </div>
    </br></br>
        <!-- Tab Navigation -->
        <ul class="nav nav-tabs">
            <li class="nav-item">
                <a class="nav-link active" data-toggle="tab" href="#noBackground">No Background</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" data-toggle="tab" href="#withBackground">With Background</a>
            </li>
        </ul>

        <!-- Tab Content -->
        <div class="tab-content">
            <div id="noBackground" class="container tab-pane active" style="background-color: #1d2622;">
                <div class="gallery">
                    <% noBackgroundImages.forEach(image => { %>
                        <img src="<%= 'images/PixelArt/no-background/' + image %>" alt="Image description" class="img-fluid" onclick="openPreview(this.src)">
                    <% }); %>
                </div>
            </div>
            <div id="withBackground" class="container tab-pane fade">
                <div class="gallery">
                    <% withBackgroundImages.forEach(image => { %>
                        <img src="<%= 'images/PixelArt/bckgrd/' + image %>" alt="Image description" class="img-fluid" onclick="openPreview(this.src)">
                    <% }); %>
                </div>
            </div>
        </div>
    </div>

    <!-- Image Preview Modal -->
    <div class="image-preview-modal" id="imagePreviewModal" onclick="closePreview()">
        <div class="image-preview-content">
            <img id="previewImage" src="" alt="Preview">
        </div>
    </div>

    <script>
        function openPreview(src) {
            document.getElementById('previewImage').src = src;
            document.getElementById('imagePreviewModal').style.display = 'flex';
        }

        function closePreview() {
            document.getElementById('imagePreviewModal').style.display = 'none';
        }

        function searchImages() {
    var input, filter, gallery, img, src, i;
    input = document.getElementById("searchInput");
    filter = input.value.toUpperCase();
    gallery = document.getElementsByClassName("gallery");

    for (var g = 0; g < gallery.length; g++) {
        img = gallery[g].getElementsByTagName("img");

        for (i = 0; i < img.length; i++) {
            src = img[i].src;
            // Extract filename from the src attribute
            var fileName = src.substring(src.lastIndexOf('/') + 1);
            if (fileName.toUpperCase().indexOf(filter) > -1) {
                img[i].style.display = "";
            } else {
                img[i].style.display = "none";
            }
        }
    }
}

    </script>

    <script src="/node_modules/this.gui/dist/this.gui.js"></script>
    <!-- Bootstrap JS and its dependencies -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>