<!DOCTYPE html>
<html>
<head>
    <title>m.learning Studio</title>
    <link rel="stylesheet" href="/node_modules/this.gui/dist/this.gui.css">
    <style>
        .center {
            text-align: center;
            margin-top: 20px;
        }
    </style>
</head>
<body>
    <div class="center">
        <h1>Welcome to the 8-bit Art Gallery</h1>
        <a href="/gallery"><button class="this-gui-button">Go to 8-bit Art Gallery</button></a>

    </div>
    <script src="/node_modules/this.gui/dist/this.gui.js"></script>
</body>
</html>
